<head>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

window.onload = function() {
}

</script>
<title>Travel</title>
<h1>Travel - Hotel Recommendations</h1>
<h2 class="front-page">Select UserID:</h2>
<form method="POST" action="/receiver" class="front-page">
    <P><select name="users">
            {% for user in users %}
            <option value = '{{user}}'>{{user}}</option>
            {% endfor %}
          </select>
        </P>
    <p>
    <p><input type="submit" class="button" value="Login"></p>
</form>
